/* Colore per bg button primari, titoli e footer-top */
//$primary-color: #1e1e1e;
$primary-color: #31312f;

/* Colore per i testi */
$paragraph-color: #6b6868;

/* Colore per link-active, bg button secondari, header-bottom, hr, link, sottotitoli */
$secondary-color: #fed23f;

/* Colore per sfondo card, sfondo section, hr */
$light-gray-color: #f5f5f5;
